// ANCHOR: Typography

body {
  font-family: "Montserrat", sans-serif;
}

// ANCHOR: Debugging

$debugging: false;

@if $debugging {
  * * {
    background-color: #89a81e;
  } /* Green */
  * * * {
    background-color: #f34607;
  } /* Orange */
  * * * * {
    background-color: #5984c3;
  } /* Blue */
  * * * * * {
    background-color: #cd1821;
  } /* Red */
  * * * * * * {
    background-color: #89a81e;
  } /* Green */
  * * * * * * * {
    background-color: #f34607;
  } /* Orange */
  * * * * * * * * {
    background-color: #5984c3;
  } /* Blue */
  * * * * * * * * * {
    background-color: #cd1821;
  } /* Red */
}
