@import "./utils";

// ANCHOR: Typography
body {
  font-family: "Montserrat", sans-serif;
}

.heading-1 {
  color: $color-dark-2;
  margin: 0;
  line-height: 1.5;
  font-weight: bold;
  font-size: 4.5rem;
  text-transform: capitalize;
}

.paragraph {
  color: $color-dark;
  font-weight: 300;
  line-height: 1.5;
}

// ANCHOR: Debugging

$debugging: false;

@if $debugging {
  * * {
    background-color: #89a81e;
  } /* Green */
  * * * {
    background-color: #f34607;
  } /* Orange */
  * * * * {
    background-color: #5984c3;
  } /* Blue */
  * * * * * {
    background-color: #cd1821;
  } /* Red */
  * * * * * * {
    background-color: #89a81e;
  } /* Green */
  * * * * * * * {
    background-color: #f34607;
  } /* Orange */
  * * * * * * * * {
    background-color: #5984c3;
  } /* Blue */
  * * * * * * * * * {
    background-color: #cd1821;
  } /* Red */
}
